.main__pagination {
  margin: 0;
  padding: 0;
  width: 443px;

  display: flex;
  justify-content: space-between;

  display: grid;
	grid-auto-flow: column;
	grid-gap: 11px;
	justify-content: start;
}

.pagination__item {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__link {
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  display: block;

  background-color: $grey-light6;
  text-align: center;
  border-radius: 3px;
}

.pagination__link--next {
  min-width: 260px;
  box-sizing: border-box;
}

.pagination__link--active {
  background-color: $white;
  box-shadow: inset 0 0 0 3px $grey-light6;
}
