.main__sorting {
  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 400px auto;
}

.sorting__list {
  margin: 0;
  padding: 0;

  display: flex;

  display: grid;
  grid-auto-flow: column;
}

.sorting__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;
  margin-right: auto;
}

.sorting__item {
  list-style: none;
}

.sorting__item + .sorting__item {
  margin-left: 22px;
}

.sorting__item:last-of-type {
  margin-left: 0;
}

.sorting__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  color: rgba($black, 0.3);
  padding: 0;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
    outline: none;
  }
  &:active {
    color: $black;
  }

  transition: 300ms ease-out;
}

.sorting__button--active {
  border-color: $grey;
  color: $black;
}

.button-triangle {
  font-size: 0;

  &:hover .button-triangle__img,
  &:focus .button-triangle__img {
    border-top: 13px solid $grey;
  }
  &:active .button-triangle__img {
    border-top: 13px solid $black;
  }

  padding-left: 20px;

  transition: 300ms ease-out;
}

.button-triangle__img {
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-width: 0;
  border-top: 13px solid $grey-light7;
}

.button-triangle__img--active {
  border-top: 13px solid $black;
  transition: 300ms ease-out;
}

.button-triangle__top {
  transform: scale(1, -1)
}
