.header {
  background-color: $grey-light6;
}

.header__nav {
  width: 1200px;
  padding: 40px 20px 15px 20px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  display: grid;
	grid-auto-flow: column;
  align-items: center;
}

.header__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;

  display: grid;
	grid-auto-flow: column;
	grid-column-gap: 45px;
  justify-self: center;
}

.header__logo {
  &:hover svg,
  &:focus svg {
    fill: #303030;
    outline: none;
  }
  &:active svg {
    fill: $grey;
  }

margin-right: auto;

  transition: 300ms ease-out;
}

.nav__item {
  list-style: none;
}

.nav__item svg {
  fill: $grey;
}

.nav__link {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;

  transition: 300ms ease-out;
}

.nav__link--active {
  border-bottom: 2px solid $pink;
  padding-bottom: 8px;
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

.header__cart svg {
  fill: $grey;

  margin-right: 25px;
  margin-left: auto;

  justify-self: end;
}
