.info {
  @include section-border;
}

.main__info {
  padding: 40px 20px;
  padding-bottom: 80px;
  margin: 0 auto;
  width: 1200px;

  display: flex;
  justify-content: space-between;

  display: grid;
  grid-auto-flow: column;
}

.info__description {
  width: 660px;
  margin-top: 35px;

  display: flex;
  flex-direction: column;
}

.description__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;

  margin-bottom: 30px;
}

.description__text {
  line-height: 24px;

  margin: 0;
  margin-bottom: 45px;
}

.description__list {
  margin: 0;
  padding: 0;
}

.list__title {
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 30px;
}

.list__text {
  line-height: 18px;
  list-style: none;
  position: relative;

  &::before {
    content: "";
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: $pink;
    top: 50%;
    left: -41px;
  }

  margin-left: 40px;
  padding-top: 1px;
}

.list__text + .list__text {
  margin-top: 30px;
}

.statistics {
  background-image: url("../image/about-us-logo.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.info__statistics {
  margin: 0;
  width: 385px;
  padding-top: 240px;
}

.statistics__table {
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.statistics__title {
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 25px;
}

.statistics__term {
  line-height: 18px;

  margin: 0;
  width: 110px;
  order: 1;
  padding: 5px;
}

.statistics__value {
  font-size: 45px;
  font-weight: bold;
  position: relative;

  margin: 0;
  width: 110px;
  padding: 9px;
}

.statistics__percent {
  position: absolute;
  top: 38%;
}
